.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh; /* Reduced from 100vh to 80vh */
  text-align: top; /* Align text to the bottom */
  background-color: #001f3f;
  color: rgb(220, 220, 244);
  font-family: 'Courier New', Courier, monospace;
  padding: 50px 0; /* Reduce padding to bring sections closer */

}

.pika-name {
  color: aquamarine;
  font-weight: bold;
}

.hero h1 {
  font-size: 49.7px;
  margin-bottom: -10px;
  white-space: nowrap; /* Prevents text from wrapping to a new line */
  overflow: visible; /* Prevents text from overflowing */
  max-width: 100%; /* Ensures it stays within the screen */
}
.hero h2 {
  font-size: 29px;
  margin-bottom: 30px;
  white-space: nowrap; /* Prevents text from wrapping to a new line */
  overflow: visible; /* Prevents text from overflowing */
  max-width: 100%; /* Ensures it stays within the screen */
}
.hero-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  color: aquamarine;
  background-color: transparent;
  border: 2px solid aquamarine;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
  margin-top: 20px;
}

.hero-button:hover {
  background-color: aquamarine;
  color: #001f3f;
}

.lego-container {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 2;
}

/* Effect Container - Limits height above hero content */
.hero-effect-container {
  position: absolute;
  top: 175px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 200px; /* Matches the effect's height */
  z-index: 1;
}

.hero-content {
  font-weight: bold;
  color: rgb(132, 132, 163);
  max-width: 50%;
  z-index: 2; /* Places the content in the foreground */
  padding-top: 300px;
}

.email-icon {
  margin-right: 8px; /* Adds space between the icon and text */
  font-size: 18px; /* Adjusts the size of the icon */
  vertical-align: middle; /* Centers icon with text */
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 36px; /* Adjust font size for smaller screens */
  }
  
  .hero h2 {
    font-size: 20px; /* Adjust font size for smaller screens */
  }
}



